@import "common.css?version=dev-develop";
@import "autocomplete.css?version=dev-develop";
@import "commonSimiliDsfr.css?version=dev-develop";

/* Mode d'emploi */
.ModeEmploi > h2 {font-size: 1rem; font-family: 'marianne_bold'; padding-left:1.5rem;color: var(--text-default-grey);}

.sp-panel.sp-blue-panel { border-color: var(--blue-france-main-525);}
.sp-panel {
	border: 1px solid var(--sp-grey-5);
	background-color: var(--sp-white);
	margin: 1rem 0;
	padding: 0.5rem 0;
}

.fr-py-1v { padding: 1rem 0.5rem;}

.ModeEmploi ul, .fr-alert--success ul, .ModeEmploi ol {
	padding-inline-start: var(--ul-start);
	padding-left: 3rem ;
}
.article ul li, .ModeEmploi ul li .fr-alert--success ul li {list-style-type: circle;  }

/* Timer */
.fr-callout {
	position: relative;
	background-color: var(--background-contrast-grey);
	box-shadow: inset 0.25rem 0 0 0 var(--border-default-blue-france);
	margin: 2rem 0;
	padding: 1rem 3rem;
}

.temps {padding-left: 1.5rem; }

/* Positionnement des exemples*/

#questionCommune-container {
	display: grid; 
	grid-template-rows: auto;
}

#questionCommune-container {
	padding-bottom: 1rem;
}

#questionCommune-label.control-label {
	grid-row:1;
}

.step-page #questionCommune-container input {
	width: 70%;
	background-color: #f3f6f4;
	font-variant: all-small-caps;
}

#Motifs {
	display: inline-flex;
	flex-direction: column;
}

.RecapFinal {
    border-bottom: none;
    display: block;
    text-align: center;
    font-family: 'marianne_light';
    font-size: 1.25rem ;
    line-height: 2rem ;
    margin: var(--text-spacing);
}

.sp-entete-bullet .sp-entete-bullet-number {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: -.2rem;
}

.sp-section-bullet {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: var(--sp-blue);
    border-radius: 50%;
    color: var(--sp-white);
    margin-bottom: 0.5rem;
}

.sp-section-bullet-green {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: #18753c;
    border-radius: 50%;
    color: var(--sp-white);
    margin-bottom: 0.5rem;
}  


/* Pas de bordure autour de la lettre */
.step-page .blockinfo-chapters {
	border: none;
}
#vide-panel-1-blockinfo-10-chapter-1-section-3-content, #meuble-panel-1-blockinfo-7-chapter-1-section-3-content {
	border: 1px solid #44317c;
	border-radius: 10px;
}

/* Mise en page des éléments de la lettre */
#Global {
	padding: 10px;
}

.Exp {
	color: rgb(68,49,124);
	font-weight: bold;
	font-size:1.1em;
}

.Dest {
	color: rgb(68,49,124);
	font-weight: bold;
	font-size:1.1em;
	padding-left: 50%;
	padding-bottom: 2em;
}

.Objet {
	padding: 2em 0;
}

.Sign {
	padding-left:40%;
	padding-top: 2em;
	text-align: center;
}

.SignatureLettre{
	font-size:1.1em;
	color: rgb(68,49,124);
	font-style: italic;
	padding: 2em 0;
}

.Contenu {
	color: rgb(68,49,124);
	font-weight: bold;
	font-size:1.1em;
}

.Info {
	padding: 15px 20px;
}

/*-----------------------*/
