@import "common.css?version=dev-develop";
@import "autocomplete.css?version=dev-develop";
@import "commonSimiliDsfr.css?version=dev-develop";
@font-face { font-family: 'Marianne_Light'; src: url("../static/fonts/Marianne-Light.woff?version=dev-develop") format("woff"), url("../static/fonts/Marianne-Light.woff2?version=dev-develop") format("woff2"), url("../static/fonts/Marianne-Light-webfont.ttf?version=dev-develop") format("truetype"); }
@font-face { font-family: 'Marianne_Regular'; src: url("../static/fonts/Marianne-Regular.woff?version=dev-develop") format("woff"), url("../static/fonts/Marianne-Regular.woff2?version=dev-develop") format("woff2"), url("../static/fonts/Marianne-Regular-webfont.ttf") format("truetype"); }
@font-face { font-family: 'Marianne_Bold'; src: url("../static/fonts/Marianne-Bold.woff?version=dev-develop") format("woff"), url("../static/fonts/Marianne-Bold.woff2?version=dev-develop") format("woff2"), url("../static/fonts/Marianne-Bold-webfont.ttf") format("truetype"); }

/* Mode d'emploi */
.temps {padding-left: 1.5rem; }
.ModeEmploi p, .ModeEmploi h2 {padding-left: 1.5rem ; padding-bottom: 0.7rem;}
.ModeEmploi ul, .fr-alert--success ul, .ModeEmploi ol {
	padding-inline-start: var(--ul-start);
	padding-left: 3rem ;
}
.article p + ul {margin-top:0; margin-bottom:0;}

.aNote  {box-shadow: inset 0.25rem 0 0 0 var(--border-default-blue-france); margin: 2rem 0; padding-left:2rem; color: #333333c4;}
.aNote p {font-size: 1rem; line-height:1rem; font-family: 'Marianne_Light';}

#Note ul, .Malus ul {list-style-type: none; /* spécifie la puce */}

.evol ul, .fr-highlight ul, .fr-alert--warning ul  {list-style-type: circle !important; padding-left: 1rem;}

h2 {color: black;}
/* Mise en page du récap */
.RecapFinal {
  border-bottom: none;
  display: block;
  text-align: center;
  font-family: 'Marianne_Light';
  font-size: 1.25rem ;
  line-height: 2rem ;
margin-top : 3rem;
}

@media (min-width: 20em) {
    .fr-text--lg {
        font-size: 1.25rem !important;
        line-height: 2rem !important;
		font-family: "Marianne_Bold";
    }
}

/* Mise page du bloc composition du malus CO² */
div#Résultat-panel-1-blockinfo-5.blockinfo-container {
	color: #2a313e; 
	width: 100%;
	padding-left: 1rem;
	background: #E7E7F0; 
	border-left: 20px solid #2a313e;
  border-right: 1px solid #0606b2;
  margin-top: -0.5rem;
}
/*.Malus*/
.Malus p, .MalusPlafond p, .Malus ul li, .malus, .MalusPlafond {font-size: 0.8rem;}


/* Mise en page du bloc Sous total */
#sousTotal-container.field-container.form-group, span#sousTotal-label.label {
	font-style: italic;
	color: #3e4e57;
}

/* Mise en page du récap */
div#Résultat-panel-1-fieldset-2.fieldset.disposition-classic.form-horizontal{
	border: 1px solid #0606b2;
	padding: 0;
	margin-bottom: 3rem;
}

div#Résultat-panel-1-fieldset-4.fieldset.disposition-classic.form-horizontal {
	border-left: 1px solid #0606b2;
  border-right: 1px solid #0606b2;
  border-top: 1px solid #0606b2;
	padding: 0;
  margin-bottom: 0 !important;
}
div#Y3_MalusTotalFinal-container {margin-bottom: 0 !important;}
div#taxeGestionY4-container {margin-top: 0 !important;}
div#Résultat-panel-1-fieldset-6.fieldset.disposition-classic.form-horizontal {
	border-left: 1px solid #0606b2;
  border-right: 1px solid #0606b2;
  border-bottom: 1px solid #0606b2;
	padding: 0;
  margin-bottom: 3rem;
}

/* Ajout d'un espace au-dessus du bloc résultat */
#Résultat-panel-1-blockinfo-5-chapter-1-section-2-content {margin-top: 3rem;}

/* Resultat*/
#Résultat-panel-1-fieldset-2 .field-container.form-group,
#Résultat-panel-1-fieldset-4 .field-container.form-group,
#Résultat-panel-1-fieldset-6 .field-container.form-group {
  display: grid;
  grid-template-columns: 50% auto;
  gap: 0 5px;
}
@media screen and (max-width: 30em) {
  #Résultat-panel-1-fieldset-4 .field-container.form-group,
  #Résultat-panel-1-fieldset-6 .field-container.form-group {
      grid-template-columns: 70% auto;
  }
}
.step-page .label {  grid-column-start: 1;}

.money-symbol.after.emphasized, #PrixAchat-money-symbol  {display: none;}

div#Résultat-panel-1-fieldset-1 .field-container:nth-child(even) {background-color: #E5E5F2;}
div#Résultat-panel-1-fieldset-1 .field-container {padding :0.5rem 0 0.5rem 10px; width: 100%;}

div#Résultat-panel-1-fieldset-2 .field-container, div#Résultat-panel-1-fieldset-4 .field-container, div#Résultat-panel-1-fieldset-6 .field-container {padding :0.5rem 0 0.5rem 10px; width: 100%;}
div#Résultat-panel-1-fieldset-2 .field-container:nth-child(odd), div#Résultat-panel-1-fieldset-4 .field-container:nth-child(odd), div#Résultat-panel-1-fieldset-6 .field-container:nth-child(even) {background-color: #E5E5F2;}


/* Positionnement des post-notes d'attention */

.fr-alert--warning-post {
	box-shadow: inset 0 0 0 1px #b34000, inset 2.5rem 0 0 0 #b34000;
	background-color: #ffe9e6;	
}
.fr-alert--warning-post .Attention {text-align: left; font-size: 0.9rem ; font-style: italic; padding-left: 1rem;}

.fr-alert--warning-post::before {content: url("../images/error-warning-line.png?version=dev-develop") ;}

.step-page .post-note h2,
.help-panel h2 {font-family: "Marianne_Bold"; font-size: 0.9rem;color: #3e4e57; margin-bottom:0;}
.help-panel ul li {margin-left: 1rem; list-style: circle;}
.help-panel p {font-size: 0.8rem; margin-bottom: 0;}

.TitleSuccess {
  font-size: 1.5rem;
  font-family: 'Marianne_Bold';
  text-align: center;
  padding-bottom: 1.5rem;
  padding: 1.5rem 0;
  line-height: 2.5rem;
}


/*.input-group {width: auto;}*/
div.input-group  > fieldset#quatriemeChangementDomicile, .input-group > fieldset#IsCamionnette5Places,
.input-group > fieldset#IsCodeCarosseriePickUpBE, .input-group  > fieldset#IsPickUpAffectationRemonteesMecEtDomainesSki,
.input-group  > fieldset#Vehicule_N1_Transport_voyageurs, .input-group  > fieldset#declareVehiculeDemonstration,
.input-group  > fieldset#declareVehiculeDeCollection, .input-group  > fieldset#invalidite,
.input-group  > fieldset#receptionCommunautaire
{width: auto !important;}

/* Problème du point d'interrogation */
fieldset#quatriemeChangementDomicile, fieldset#IsCamionnette5Places,
fieldset#IsCodeCarosseriePickUpBE, fieldset#IsPickUpAffectationRemonteesMecEtDomainesSki,
fieldset#Vehicule_N1_Transport_voyageurs, fieldset#declareVehiculeDemonstration,
fieldset#declareVehiculeDeCollection, fieldset#invalidite,
fieldset#receptionCommunautaire
{width: fit-content; padding-bottom: 0;}

/* Masque les € */
.money-symbol.after {display: none; visibility: hidden;}

.fr-alert--warning-foot {box-shadow: inset 0 0 0 1px #ce0500, inset 2.5rem 0 0 0 #ce0500; background-color: #ce0500;color: #fff; position: relative;
  padding: 1rem 2.25rem 0.75rem 3.5rem; }
.fr-alert--warning-foot::before {content: url("../images/information-fill-white.png?version=dev-develop") ; background-color: transparent !important;}