@import "common.css?version=dev-develop";
@import "autocomplete.css?version=dev-develop";
@import "commonSimiliDsfr.css?version=dev-develop";

.simulator-breadcrumb {display: none;}
/* Mode d'emploi */
.temps {padding-left: 1.5rem; }
.ModeEmploi p, .ModeEmploi h2 {padding-left: 1.5rem ; padding-bottom: 0.7rem;}
.ModeEmploi ul, .fr-alert--success ul, .ModeEmploi ol {
	padding-inline-start: var(--ul-start);
	padding-left: 3rem ;
}
/* Bloc donnees chiffrées */
/*Ordre des blocs */
div#QuotiteTempsPartiel-container.field-container.form-group {
    display:grid; 
}

.step-page #QuotiteTempsPartiel-container input,
input#IndiceDecembreRef, input#IndiceDecembreDernier {
	min-width: 12rem;
	border-bottom: 3px solid #2a313e;
	border-radius: 0;
	background-color: #97aab76e;
}

.step-page #QuotiteTempsPartiel-label {
	/*width: 90vw;*/
	grid-row: 1;
	grid-column: 1;
}

div.pre-note {
	grid-row: 2;
	grid-column: 1;
	font-size: 0.9rem;
	font-family: "marianne_regular";
    font-style: italic;
}



/* Rappel des infos */
h3.legend, .step-page .fieldset .legend {
    color: #0606b2;
	font-family: 'marianne_bold';
	font-size: 1.1rem;
}

#Calcul-panel-1-fieldset-5.fieldset.disposition-classic.form-horizontal {
	border: 1px solid #0606b2;
	padding: 1rem 1rem 2rem 1rem;
	margin: 3rem 0;
}

#TypeContrat-label.label,
#TempsTravail-label.label,
#QuotiteTempsPartiel-label.label,
#IndiceDecembreRef-label.label,
#TBAReference-label.label,
#IndiceDecembreDernier-label.label,
#TBADernier-label.label,
#Inflation-label.label {
    font-size: 1rem;
	font-family:'marianne_regular';
    text-align: left;
    padding-left: 1rem;
	width: 50vw;
}


.output, .unit, .money-symbol {
    color: #0606b2;
	font-family: 'marianne_bold';
	font-size: 1.1rem;
}