@import "common.css?version=dev-develop";
@import "autocomplete.css?version=dev-develop";
@import "commonSimiliDsfr.css?version=dev-develop";

fieldset {padding:0 !important;}
.input-group {font-family: "marianne_light";}
.step-page .form-group .input-group {	display: inline-flex; }

.article p + ul, .article p + ol {margin:0.5rem 0;}

.temps, .ModeEmploi  {padding-left: 1.5rem !important; }

/* Mode d'emploi */
.ModeEmploi > h2 {font-size: 1rem; font-family: 'marianne_bold'; padding-left: 0 ;}

.ModeEmploi ul li, .fr-alert--success ul li {
	list-style-type: circle;
	padding-inline-start: var(--ul-start);
	margin-left: 3rem !important;
}
.sp-panel.sp-blue-panel { border-color: #6e6efb;}
.sp-panel {
	border: 1px solid #6e6efb;
	background-color: white;
	margin: 1rem 0 ;
	padding: 0.5rem 0 ;
}

.fr-py-1v { padding: 1rem 0.5rem;}

/* Timer *//* Mise en page du bloc !sauf indication... */
.fr-callout {
	position: relative;
	background-color: grey;
	box-shadow: inset 0.25rem 0 0 0 #6e6efb;
	margin: 2rem 0;
	padding: 1rem 3rem;
}

.sp-entete-bullet .sp-entete-bullet-number {
    font-size: 1.2rem;
    font-weight: bold;
}

.sp-section-bullet-blue {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: #0606b2;
    border-radius: 50%;
    color: whitesmoke;
    margin: 2rem 0;
}   

.fr-highlight {
	padding-left: 1.5rem;
	font-size: 1rem;
	line-height: 1.5rem;
	box-shadow: rgb(106, 106, 244) 4px 0px 0px 0px inset;
  }

/* Mise en page du champs question */
.form-horizontal .control-label, .widthmax, .step-page label {
	text-align: left;
	font-family: "marianne_bold";
	font-size: 1rem;
}
.step-page .choice input[type="radio"] {
	width: 1.5rem;
	height: 1.5rem;
} 

label, .fr-label, label + .control-label {
	line-height: 1.5rem;
	color: var(--text-label-grey);
}

.field-container, .form-horizontal .form-group, .form-horizontal .control-label {padding-top: .75rem;  }

input#heuresPresenceJour {width: 50%;}
span#tauxMinimal-label.label {width: 50%;}
/* Mise en page du bouton */
button.btn {
	border: 1px solid rgb(0, 0, 145);
    padding: 0.5rem 1.5rem;
    background-color: transparent;
    margin-right: 1rem !important;
}

button.btn.btn-primary {
    background-color: rgb(0, 0, 145) !important;
    color: white;
    border: 1px solid #0606b2;
    padding: 10px;
}

.btn-secondary { text-transform: none;}

.btn-help, .step-page .btn-help {color: #0606b2 !important;padding-left: 0.5rem; }
.step-page .input-group ~ .btn-help {margin:0;}
.step-page .action_buttons { text-align: left; float:left;}

.btn {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    font-size: 1rem;
    line-height: 1.5rem;
    min-height: 2.5rem;
    padding: 0.5rem 1.5rem;
    background-color: var(--background-action-high-blue-france);
    color: rgb(0, 0, 145);
}

.btn:not([class*="btn--icon-"])[class^="fr-icon-"], .btn:not([class*="btn--icon-"])[class*="fr-icon-"], .btn:not([class*="btn--icon-"])[class^="fr-fi-"], .btn:not([class*="btn--icon-"])[class*=" fr-fi-"] {
    flex-direction: row;
    overflow: hidden;
    white-space: nowrap;
    max-width: 2.5rem;
    max-height: 2.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.btn:not([class*="btn--icon-"])[class^="fr-icon-"]::before, .btn:not([class*="btn--icon-"])[class*=" fr-icon-"]::before, .btn:not([class*="btn--icon-"])[class^="fr-fi-"]::before, .btn:not([class*="btn--icon-"])[class*=" fr-fi-"]::before {
    margin-left: 0;
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

.btn:disabled, .btn[disabled], a.btn:not([href]) {
    background-color: var(--background-disabled-grey);
}

.btn--secondary {
    background-color: transparent;

    color: rgb(0, 0, 145);
    box-shadow: inset 0 0 0 1px var(--border-action-high-blue-france);
}

.btn--secondary:disabled, .btn--secondary[disabled], a.btn--secondary:not([href]) {

    box-shadow: inset 0 0 0 1px var(--border-disabled-grey);
    background-color: transparent;

}

/* Mise en page du bouton au survol */
.btn:hover, .btn.btn-secondary:hover {
	background-color: transparent;
}

/* Mise en page commun des avertos */
.fr-alert {
    position: relative;
    padding: 1rem 2.25rem 0.75rem 3.5rem;
}

.fr-mb-4v, .fr-mb-2w, .fr-my-4v, .fr-my-2w {margin-bottom: 1rem !important;}
.fr-mb-8v, .fr-mb-4w, .fr-my-8v, .fr-my-4w {margin-bottom: 2rem !important;}
.fr-mt-8v, .fr-mt-4w .fr-my-8v, .fr-my-4w { margin-top: 2rem !important;}
.fr-mb-2v, .fr-mb-1w, .fr-my-2v, .fr-my-1w {margin-bottom: 0.5rem !important;}

/* Mise en page des blocs Succès */
.fr-alert--success {box-shadow: inset 0 0 0 1px #18753c, inset 2.5rem 0 0 0 #18753c !important;}

/* Mise en page du bloc Alert */
.fr-alert--warning {box-shadow: inset 0 0 0 1px #b34000, inset 2.5rem 0 0 0 #b34000; background-color: #ffe9e6;}

/* Mise en page du bloc Info */
.fr-alert--info { box-shadow: inset 0 0 0 1px #0063cb, inset 2.5rem 0 0 0 #0063cb; background-color: #E5E5F2;}

/* Mise en page du bloc error */
.fr-alert--error {box-shadow: inset 0 0 0 1px #ce0500, inset 2.5rem 0 0 0 #ce0500;}

/* Mie en page des liens hypertextes */
.fr-alert a {color: #000091;}

/* Mise en page de l'alerte Simulateur */

.fr-alert--warning-foot {box-shadow: inset 0 0 0 1px #ce0500, inset 2.5rem 0 0 0 #ce0500; background-color: #ce0500;color: #fff;}
.fr-alert--warning-foot::before {content: url("../images/information-fill-white.png?version=dev-develop") ;}
.step-page .foot-note, .step-page .foot-notes {background: white !important; margin: 3rem 0 0 0; }
.step-page .foot-note p {text-align: left; font-family: 'marianne_regular'; font-size:1rem;}
/* Positionnement des post-notes d'attention*/
.fr-alert-post {position: relative; padding: 0.5rem 1rem 0.5rem 3.6rem;	text-indent: -3rem;}
.fr-alert--warning-post {
	box-shadow: inset 0 0 0 1px #b34000, inset 2.5rem 0 0 0 #b34000;
	background-color: #ffe9e6;	
	width : fit-content;	
}
.fr-alert--warning-post .Attention {text-align: left; font-size: 0.9rem ; font-style: italic; padding-left: 1rem;}

.fr-alert--warning-post::before {content: url("../images/error-warning-line.png?version=dev-develop") ;}

.step-page .post-note h2,
.help-panel h2 {font-family: "marianne_bold"; font-size: 0.9rem;color: #3e4e57; margin-bottom:0;}
.help-panel.collapse.in ul li {margin-left: 1rem; list-style: circle;font-size: 0.9rem;}
.help-panel.collapse.in p {font-size: 0.9rem; margin-bottom: 0;}

#help-liendeparentetmp, #help-situationHandicap, #help-exoQualiteHeritier, #help-nbEnfantsHeritier,
#help-mutileDeGuerre, #help-dateOuvertureSuccession, #help-domicileDefuntEnFrance,
#help-montantActifSuccessoral, #help-nbEnfantsRepresentes, #help-DroitsSuccessionDefinitifsMinimum {
    padding: 1rem 2rem 1.25rem;
    background-color: var(--sp-grey-7);
    /*font-size: 1rem;*/
    line-height: 1.5rem;
    box-shadow: inset 0.25rem 0 0 0 var(--border-default-blue-france);
}


.step-page .foot-note {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
}
/*******************************/

/* Le tableau */
.fieldset-container.disposition-grid.form-horizontal {margin: 2rem 0;}
.grid-header {
	color: whitesmoke;
	background-color: #3a3a3a;
}

/*********************************************************
 * Grid                                                  *
 *********************************************************/
 .step-page div.grid {
	display: table;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}
.step-page  table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}
.step-page  #calcul-grid-2 {
	border-collapse: separate;
}
.grid-header {
	color: #fff;
}
.step-page div.grid .grid-header > div {
	border-right-color: #fff;
	border-left-color: #fff;
}
.step-page div.grid > div {
	display: table-row;
}
.step-page div.grid > div:nth-child(2n) {
	background: #fff;
}
.step-page tbody tr:nth-child(4n  + 3), .step-page tbody tr:nth-child(4n  + 4) {
	background: #ececec;
}
.step-page div.grid > div > div {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #cccccc;
}
.step-page th, .step-page td {
	text-align: center;
	vertical-align: middle;
	border: 1px solid #cccccc;
}
.step-page .grid-header th:first-child {
	border-right: 1px solid #fff;
	border-top-left-radius: 8px;
}
.step-page .grid-header th:not(:first-child):not(:last-child) {
	border-left: none;
	border-right: 1px solid #fff;
}
.step-page .grid-header th:last-child {
	border-left: none;
	border-top-right-radius: 8px;
}
.step-page .grid:not(.datepicker-calendar) tbody  th, .step-page .grid:not(.datepicker-calendar) tbody  td {
	border-top: none;
}
.step-page .grid:not(.datepicker-calendar) tbody  th {
	border-right: 1px solid #cccccc;
}
.step-page .grid:not(.datepicker-calendar) tbody td:not(:last-child) {
	border-left: none;
	border-right: 1px solid #cccccc;
}
.step-page .grid:not(.datepicker-calendar) tbody td:last-child {
	border-left: none;
}
.step-page div.grid .row-group-error {
	display: table-row;
}
.step-page div.grid .row-group-error div:nth-child(2) {
	width: 0;
}
.step-page .listbox {
	text-align: left;
}
.step-page .field-container[data-type=month] .listbox-edit,
.step-page .field-container[data-type=month] select {
	min-width: 6.5em;
}
.step-page .field-container[data-type=year] .listbox-edit,
.step-page .field-container[data-type=year] select {
	min-width: 5em;
}
.step-page div.grid > div:first-child div:not(:first-child) {
	font-weight: bold;
	text-align: center;
}
.step-page div.grid > div:first-child div:nth-child(2) {
	width: 110px;
}
.step-page div.grid > div:first-child div:nth-child(3) {
	margin-right: 50px;
	width: 72px;
}
.step-page div.grid > div:first-child div:nth-child(4) {
	width: 50px;
}
.step-page div.grid > div:first-child div:nth-child(5),
.step-page div.grid > div:first-child div:nth-child(6) {
	width: 60px;
}
.step-page div.grid > div:not(:first-child) div {
	font-weight: normal;
}
.step-page div.grid > div:not(:first-child) div > span.output {
	padding-bottom: 9px;
}
.step-page div.grid > div:not(:first-child) div:nth-child(5),
.step-page div.grid > div:not(:first-child) div:nth-child(6) {
	padding-bottom: 2px;
	padding-left: 8px;
}
.grid-header th,
.simulator-breadcrumb li.current.current p,
.simulator-breadcrumb li:last-child p:after {
	background: #3a3a3a;;
}
