@import "common.css?version=dev-develop";
@import "autocomplete.css?version=dev-develop";
@import "commonSimiliDsfr.css?version=dev-develop";

@media (min-width: 20em) {
	h1, article > h1 {
	  font-size: 1.9rem !important;
	}
  }
/* Mode d'emploi */
.temps {padding-left: 1.5rem; }
.ModeEmploi p, .ModeEmploi h2 {padding-left: 1.5rem ; padding-bottom: 0.7rem;}
.ModeEmploi ul, .fr-alert--success ul, .ModeEmploi ol {
	padding-inline-start: var(--ul-start);
	padding-left: 3rem ;
}
.article p + ul {margin-top:0; margin-bottom:0;}

.aNote  {box-shadow: inset 0.25rem 0 0 0 var(--border-default-blue-france); margin: 2rem 0; padding-left:2rem; color: #333333c4;}
.aNote p {font-size: 1rem; line-height:1rem; font-family: 'marianne_light';}

#Note ul, .Malus ul {list-style-type: none; /* spécifie la puce */}

.evol ul, .fr-highlight ul, .fr-alert--warning ul  {list-style-type: circle !important; padding-left: 1rem;}

/* Mise en page du champs question */
label#resultat_donnee_vitesse-label.control-label,
label#resultat_donnee_alcool-label.control-label,
label#resultat_donnee_autre-label.control-label,
label#InfractionVelo-label.control-label,
label#TypeVehicule-label.widthmax,
label#resultatlistedescategories-label.widthmax,
h3.legend {
	font-family: 'marianne_bold';
	font-size: 1.1rem;
	color:  #3a3a3a !important;
	padding-top : 10px;
  	text-align: left;
	width: 100%;
}

.step-page fieldset {
	margin-bottom: 0;
}

fieldset {
	margin : 0;
}

.step-page div.fieldset {
	margin-bottom: 1em;
}

.fiche-item {
	border-top: none;
}

/* Mise en page des blocs réponses */ 
.input-group, .choice {
	padding-left: 10px !important;
}

.step-page .blockinfo-chapters {
	border: none;
	margin: 0;
	padding: 0;
}

.step-page .section-content {
	border: none;
	background: transparent;
}

.step-page label.choice {
	font-family: "marianne_light";
	font-size: 1rem;
}

/* Icone de suppression */
.glyphicon {
    position: relative;
	margin-right: 5px;
}

.glyphicon-remove, .autocomplete-input-clear-button {
	left: 0;
}

/* Pas de bordure de base */
div.input-group,.step-page input[type=text],
.step-page .form-group[data-type=choice]:not([data-expanded=true]):not([data-expandedcolumnar=true])  .input-group {
	border:none; font-size: 0.8rem; font-family:"marianne_regular";  min-width: 18rem;
}
/* Mise en page de la liste ds pays */
input#AutocompletionListbox-resultat_donnee_alcool.form-control.auto-completion-listbox,
input#AutocompletionListbox-resultat_donnee_vitesse.form-control.auto-completion-listbox,
input#AutocompletionListbox-resultat_donnee_cycliste.form-control.auto-completion-listbox,
input#AutocompletionListbox-resultat_donnee_autre.form-control.auto-completion-listbox,
input#AutocompletionListbox-InfractionVelo.form-control.auto-completion-listbox {
	margin-right: 2px; border: 1px solid #2a313e; border-radius:5px; 
}

@media (min-width: 60em) { 
	input#AutocompletionListbox-resultat_donnee_alcool.form-control.auto-completion-listbox,
	input#AutocompletionListbox-resultat_donnee_vitesse.form-control.auto-completion-listbox,
	input#AutocompletionListbox-resultat_donnee_cycliste.form-control.auto-completion-listbox,
	input#AutocompletionListbox-resultat_donnee_autre.form-control.auto-completion-listbox,
	input#AutocompletionListbox-InfractionVelo.form-control.auto-completion-listbox {
		min-width: 30rem;
	}
}

.step-page .help-panel {
	color: #2a313e; 
	border-left : 10px solid #2a313e;
	padding: 5px 10px;
	font-family: "marianne_light";
	font-size: 0.8rem !important;
	width: auto;
	font-style: italic;
}

/* Affichage du récap */

div#etape1-panel-1-fieldset-2,
div#etape1-panel-1-fieldset-3,
div#etape1-panel-1-fieldset-4,
div#Velo-panel-1-fieldset-3 {
	display: grid;
}

#ContraventionVelo-label.label,
#DelitVelo-label.label,
#TIGVelo-label.label,
#Point1-label.label, #Point2-label.label, #Point3-label.label,
#Contravention1-label.label, #Contravention2-label.label, #Contravention3-label.label,
#Delit1-label.label, #Delit2-label.label, #Delit3-label.label,
#TIG1-label.label, #TIG2-label.label, #TIG3-label.label,
#Suspension1-label.label, #Suspension2-label.label, #Suspension3-label.label, 
#Interdiction1-label.label, #Interdiction2-label.label, #Interdiction3-label.label,
#Annulation1-label.label, #Annulation2-label.label, #Annulation3-label.label,
#Prison1-label.label, #Prison2-label.label, #Prison3-label.label, 
#Vehicule1-label.label, #Vehicule2-label.label, #Vehicule3-label.label, 
#Stage1-label.label, #Stage2-label.label, #Stage3-label.label, 
#JourAmende1-label.label, #JourAmende2-label.label, #JourAmende3-label.label
{
    font-size: 1rem;
	font-family:'marianne_regular';
    text-align: left;
    padding-left: 2rem;
}

@media (min-width: 60em) { 
	#ContraventionVelo-label.label,
	#DelitVelo-label.label,
	#TIGVelo-label.label,
	#Point1-label.label, #Point2-label.label, #Point3-label.label,
	#Contravention1-label.label, #Contravention2-label.label, #Contravention3-label.label,
	#Delit1-label.label, #Delit2-label.label, #Delit3-label.label,
	#TIG1-label.label, #TIG2-label.label, #TIG3-label.label,
	#Suspension1-label.label, #Suspension2-label.label, #Suspension3-label.label, 
	#Interdiction1-label.label, #Interdiction2-label.label, #Interdiction3-label.label,
	#Annulation1-label.label, #Annulation2-label.label, #Annulation3-label.label,
	#Prison1-label.label, #Prison2-label.label, #Prison3-label.label, 
	#Vehicule1-label.label, #Vehicule2-label.label, #Vehicule3-label.label, 
	#Stage1-label.label, #Stage2-label.label, #Stage3-label.label, 
	#JourAmende1-label.label, #JourAmende2-label.label, #JourAmende3-label.label {
		min-width: 25%;
	}
}

h3.legend {grid-column: 1 / 2; font-family: "marianne_bold"; font-size:1.2rem !important; color:#3a3a3a;}
.step-page .label {
	width: auto;;
}

.label {
	grid-row-start: 2;
	grid-column: 1;
	text-align: left !important;
}
.output {
	grid-row-start: 2;
	grid-column: 2;
	color: #0606b2;
	font-family: 'marianne_bold';
	font-size: 1.1rem;
}

/* Mise en page de la source de l'infraction */


#etape1-panel-1-blockinfo-5-chapter-3-section-1-content, 
#etape1-panel-1-blockinfo-5-chapter-3-section-2-content, 
#etape1-panel-1-blockinfo-5-chapter-3-section-3-content,
#Velo-panel-1-blockinfo-3-chapter-1-section-1-content {
	border: 1px solid #0606b2;
	border-radius: 8px;
	padding: 5px 15px;
	background-color: #e6f0f6;
	color: #0606b2;
}

.step-page input[type="text"] {
	color: #414856;
	font-family: 'marianne_light';
	padding-left:5px;
	font-style: italic;
}
