@import "common.css?version=dev-develop";
@import "autocomplete.css?version=dev-develop";
@import "commonSimiliDsfr.css?version=dev-develop";


.fieldset {padding-bottom:0;}
.article p + ul, .article p + ol {margin:0.5rem 0;}
/* Mode d'emploi */
.ModeEmploi > h2 {font-size: 1rem; font-family: 'marianne_bold'; padding-left:1.5rem;color: var(--text-default-grey);}

.sp-panel.sp-blue-panel { border-color: var(--blue-france-main-525);}
.sp-panel {
	border: 1px solid var(--sp-grey-5);
	background-color: var(--sp-white);
	margin: 1rem 0;
	padding: 0.5rem 0;
}

.fr-py-1v { padding: 1rem 0.5rem;}

.ModeEmploi ul, .fr-alert--success ul, .ModeEmploi ol {
	padding-inline-start: var(--ul-start);
	padding-left: 3rem ;
}
.article ul li, .ModeEmploi ul li .fr-alert--success ul li {list-style-type: circle;  }

/* Timer */
.fr-callout {
	position: relative;
	background-color: var(--background-contrast-grey);
	box-shadow: inset 0.25rem 0 0 0 var(--border-default-blue-france);
	margin: 2rem 0;
	padding: 1rem 3rem;
}

.temps {padding-left: 1.5rem; }

/* Mise en page de bloc pays de naissance */
div#PaysNaissance-container .input-group, div#Nationalite-container .input-group,
div#Conjoint_PaysNaissance-container .input-group, div#Conjoint_Nationalite-container .input-group
{
	padding: 0 0.625em 0.75em;
}

.output {color: #0606b2; font-family:"marianne_bold"; }

/* Mise en page du résultat final */
div#Recap-panel-1-blockinfo-4-chapter-2-section-2.section-container {
	border: 1px solid black;
	border-radius: 5px;
	background: #93a7d72b;
	padding: 6px;
	margin-top: 2rem;
}

.TitreListe {
	color:  #3a3a3a;
	padding: 10px;
	font-size: 1.3rem;
	font-family: 'marianne_bold';
}

div.docs li, div.ContenuAlerte li, div.Temp li {
	list-style:  "☉ ";
	padding-left: 5px;
	margin-left: 20px;
}

.Personne {
	color:  #3a3a3a;
	padding: 10px;
	padding-top: 2rem;;
	font-size: 1.2rem;
	font-family: 'marianne_bold';
}

/* Bouton Formulaire*/
.bouton {padding: 0.1rem; border: 1px solid #0606b2; border-radius: 5px; font-family: "marianne_regular";}

.Temp {
	border-left: 20px solid brown; 
	padding-left: 30px;
	color: brown;
}

/* Positionnement des exemples*/

#Tutelle-container,
#Conjoint_Tutelle-container,
#nomCommuneNaissanceQuestion-container,
#nomCommuneNaissanceConjointQuestion-container,
#nomCommuneMariageQuestion-container
{display: grid; 
grid-template-rows: auto;}

#nomCommuneNaissanceQuestion-container,
#nomCommuneNaissanceConjointQuestion-container,
#nomCommuneMariageQuestion-container
{ padding-bottom: 1rem;}

#Tutelle-label.control-label,
#Conjoint_Tutelle-label.control-label,
#nomCommuneNaissanceQuestion-label,
#nomCommuneNaissanceConjointQuestion-label,
#nomCommuneMariageQuestion-label {grid-row:1;}

.Exemple {grid-row-start: 2;}

.step-page #nomCommuneNaissanceQuestion-container input,
.step-page #nomCommuneNaissanceConjointQuestion-container input,
.step-page #nomCommuneMariageQuestion-container input {
	width: 70%;
	border-bottom: 3px solid #2a313e;
	border-radius: 0;
	background-color: #f3f6f4;
	font-variant: all-small-caps;
}

.step-page .pre-note {margin :0;}

/* Suppression de la croix pour les communes */
.glyphicon, .glyphicon-remove {display: none;}

.field-container, .form-horizontal .form-group, .form-horizontal .control-label { padding-top: .75rem;}

.step-page .action_buttons {margin-top: 3rem;}

div#Recap-panel-1-blockinfo-4-chapter-1.chapter-container.fiche-item {margin-top: 3rem;}

/* Mise en page du récap */
div#Recap-panel-1-fieldset-2.fieldset.disposition-classic.form-horizontal,
div#Recap-panel-1-fieldset-3.fieldset.disposition-classic.form-horizontal,
div#Recap-panel-1-fieldset-4.fieldset.disposition-classic.form-horizontal,
.docs {
	border: 1px solid #0606b2;
	padding: 1rem 1rem 2rem 1rem;
	margin-bottom: 3rem;
}

.RecapFinal {
    border-bottom: none;
    display: block;
    text-align: center;
    font-family: 'marianne_light';
    font-size: 1.25rem ;
    line-height: 2rem ;
	margin-top : 3rem;
}

.sp-entete-bullet .sp-entete-bullet-number {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: -.2rem;
}

h2.sp-black {color:#2a313e; font-family: "marianne_bold"; }
h3.sp-blue {color: #0606b2; font-family: "marianne_bold";}
h2.fr-text--lg.fr-text--regular.sp-green {color:#18753c !important;font-family:"marianne_bold";}
h2.sp-bleu {color: #0606b2; font-family:"marianne_bold";}
span.sp-marron {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 2.5rem;
	height: 2.5rem;
	background: #b34000;
	border-radius: 50%;
	color: var(--sp-white);
	margin-bottom: 0.5rem;
}

/* Mise en page du détail du récap */
#Recap-panel-1-fieldset-2 .field-container.form-group,
#Recap-panel-1-fieldset-3 .field-container.form-group,
#Recap-panel-1-fieldset-4 .field-container.form-group {
	display: grid;
	grid-template-columns: 50% auto;
	gap: 0 5px;
}


.step-page .label {grid-column-start: 1; }
.step-page .output {grid-column-start: 2; }


