@import "common.css?version=dev-develop";

@font-face { font-family: 'marianne_light'; src: url("../static/fonts/Marianne-Light.woff?version=dev-develop") format("woff"), url("../static/fonts/Marianne-Light.woff2?version=dev-develop") format("woff2"), url("../static/fonts/Marianne-Light-webfont.ttf?version=dev-develop") format("truetype"); }
@font-face { font-family: 'marianne_regular'; src: url("../static/fonts/Marianne-Regular.woff?version=dev-develop") format("woff"), url("../static/fonts/Marianne-Regular.woff2?version=dev-develop") format("woff2"), url("../static/fonts/Marianne-Regular-webfont.ttf") format("truetype"); }
@font-face { font-family: 'marianne_bold'; src: url("../static/fonts/Marianne-Bold.woff?version=dev-develop") format("woff"), url("../static/fonts/Marianne-Bold.woff2?version=dev-develop") format("woff2"), url("../static/fonts/Marianne-Bold-webfont.ttf") format("truetype"); }

/* Définition des styles du simulateur (partie centrale) */
.container.main-container {
    max-width: 50rem;
    margin: auto;
}

.col-main {
	width: 100%;
    margin:0;
}

/* Titre et apparence générale*/
/*h1, article > h1 {font-family: 'marianne_bold'; color: #0606b2; }*/
b {font-family: 'marianne_bold';}
body {font-family: 'marianne_regular'; font-size:1rem; line-height: 1.5rem;color: var(--text-default-grey);}
p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: var(--text-spacing);
  }

/* H1 */
article > h1 {
    font-family: "marianne_bold" !important;
    text-transform: inherit;
    font-weight: 700;
    font-size: 2.5rem !important;
    line-height: 3rem;
    color: var(--text-title-grey);
    text-align: left !important;
    padding-left: 0;
    margin-bottom: 3rem;
    border-color: transparent !important;
}

  
/* Masque les éléments non nécessaires */
div.mention-asterisk {	display: none; visibility:hidden;}
.simulator-breadcrumb {	display: none;visibility:hidden;}
.help-panel, .step-page .blockinfo-chapters, .fiche-item {border: none;}
.step-page .blockinfo-chapters, .step-page .section-content, .step-page .section-annotations {border: none; padding:0;}
.fiche-item .fiche-item-content {padding:0;}
.fas , .fa-chevron-left, .fa-chevron-right { display: none; }
.step-page .section-content {  background-color: transparent;}
.step-page .label {text-align: left;}
.article ul li::before {display: none;}

/* Pas de fonds sur le fond de la croix de suppression */
.main button {background-color: transparent; }
.glyphicon {position: initial; padding-top: 12px; padding-right: 12px;}

/* Mise en page de l'intro */
.Intro p {
	color: #3a3a3a;
	font-family: 'marianne_regular';
	font-size: 1.25rem;
    line-height: 2rem ;
    margin : 0 0 1rem 0;
}

.aNote  {box-shadow: inset 0.25rem 0 0 0 var(--border-default-blue-france); margin: 2rem 0; padding-left:2rem; color: #333333c4;}
.aNote p {font-size: 1rem; line-height:1.5rem; font-family: 'marianne_regular';}

/* Titre de l'étape */
.legend, .step-page .fieldset-container legend {
    border-bottom: none;
    display: block;
    text-align: center;
    font-family: 'marianne_light';
    font-size: 1.25rem ;
    line-height: 2rem ;
    margin: var(--text-spacing);
  }

  .RecapFinal {
    border-bottom: none;
    display: block;
    text-align: center;
    font-family: 'marianne_light';
    font-size: 1.25rem ;
    line-height: 2rem ;
    margin: var(--text-spacing);
  }

  .sp-entete-bullet .sp-entete-bullet-number {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: -.2rem;
  }

  .sp-section-bullet {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: var(--sp-blue);
    border-radius: 50%;
    color: var(--sp-white);
    margin-bottom: 0.5rem;
  }
  .sp-blue {
    color: var(--sp-blue);
    fill: var(--sp-blue);
  }
  @media (min-width: 48em) {
    .fr-text--lg {
        font-size: 1.25rem !important;
        line-height: 2rem !important;
    }
}

/* Question avec case à cocher */

.step-page .choice input[type="radio"]{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    /*box-shadow: inset 0 0 0 1px rgb(22 22 22), inset 0 0 0 12px rgb(255 255 255), inset 0 0 0 12px #0606b2;*/
  }

label, .fr-label, label +.control-label {
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--text-label-grey);
 }
 
.form-horizontal .control-label {  text-align: left;}
.step-page label, .step-page .label {padding-right: 0; width: 100%;}

/* Correction d'un défaut de la common.css */
fieldset#Mariage_Multiple, fieldset#A_des_enfants,
fieldset#Changement_Nom, fieldset#Demande_Changement_Nom,
fieldset#Boursier, fieldset#Ancien_combattant,
fieldset#Prestations_Familiales, fieldset#Revenus_mob_Immo,
fieldset#Carte_Invalide, fieldset#A_Charge_Parents,
fieldset#Etudes, fieldset#Etude_en_France,
fieldset#Etat_de_Sante {margin-left: 5px;}

.step-page input[type="checkbox"] {width: 1.5rem; }

/* Mise en page du bloc complément d'info au ? */
.fr-info { padding: 7px 0; width: fit-content;
  box-shadow: inset 0 0 0 1px var(--border-plain-info), inset 2.5rem 0 0 0 var(--background-flat-info);  }

.fr-text--xs {
    font-size: 0.75rem !important;
    font-family: 'marianne_light';
    line-height: 1.25rem !important;
    margin: var(--text-spacing);
    padding: 0 0.5rem 0.25rem 3.5rem;
  }

/* Mise en page de la liste des pays */

 .fr-input, .form-control {
    display: block;
    width: 100%;
    border-radius: 0.25rem 0.25rem 0 0;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.5rem 1rem;
    color: var(--text-label-grey);
    background-color: var(--background-contrast-grey);
    box-shadow: inset 0 -2px 0 0 var(--border-plain-grey);
  }
  .step-page .form-group[data-type="choice"]:not([data-expanded="true"]):not([data-expandedcolumnar="true"]) .input-group {
    border: none;
    width: 100%;
  }
  .step-page .form-group[data-type="choice"] a.listbox-button span {
    background-color: var(--background-action-high-blue-france);
    color: var(--text-inverted-blue-france);
  }

  .step-page input[type="text"], .step-page input[type="date"], .step-page input.date, .step-page input[type="number"], .step-page input[type="money"] {
    color :#44317c;
    width: 90%;
  }


/* Mise en page du bouton */
button.btn {
	border: 1px solid var(--border-action-high-blue-france);
	padding: 8px;
  background-color: transparent;
}

button.btn.btn-primary {
  background-color: var(--background-action-high-blue-france)!important;
  color: var(--text-inverted-blue-france);
  border: 1px solid #0606b2;
}

.btn-help, .step-page .btn-help {color: #0606b2 !important; }

.step-page .action_buttons { text-align: left; float:left;}

/* Mise en page du bloc Info */
.Teleserv   {
	font-size: 1rem;
	font-family: "marianne_bold";
	background: #F2F2F9;
	border : solid #0606b2;
	border-width: 1px 1px 1px 30px;
	padding: 5px;
}

.Teleserv a, .Resume  a {color:#0606b2; }
.Teleserv ul li {
  list-style-type: circle;
  padding-left: 1rem;
  margin-left: 2rem;
}
/* Mise en page du résumé */

.Resume   {
	font-size: 0.9rem;;
  padding: 5px 10px;
  background-color: #f3f6f4;
	border : 1px solid  #0606b2;
	border-radius: 5px;
}
.Resume p {  font-size: 0.9rem; font-family: 'marianne_light';}
.Rappel p {  font-size: 0.8rem; font-family: 'marianne_light';}

/* Mise en page de la liste */

.sousListe {
  font-family: "marianne-ligth";
  font-size:0.9rem;
  font-style: italic;
  color: #2a313e;
  text-align: center;
}

.Resume h3 {
  font-family: "marianne_bold";
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 5px;
  color: #2a313e !important;
}

.Resume h4 {
  font-family: "marianne_bold";
  font-size: 1.1rem;
}

.Resume ul li {
  list-style-type: "\2610 " !important;
  padding-left: 1rem;
  margin-left: 2rem;
}

