@import "common.css?version=dev-develop";
@import "autocomplete.css?version=dev-develop";
@import "commonSimiliDsfr.css?version=dev-develop";

/* Mode d'emploi */
.temps {padding-left: 1.5rem; }
.ModeEmploi p, .ModeEmploi h2 {padding-left: 1.5rem ; padding-bottom: 0.7rem;}
.ModeEmploi ul, .fr-alert--success ul, .ModeEmploi ol {
	padding-inline-start: var(--ul-start);
	padding-left: 3rem ;
}
.article p + ul {margin-top:0; margin-bottom:0;}

.aNote  {box-shadow: inset 0.25rem 0 0 0 var(--border-default-blue-france); margin: 2rem 0; padding-left:2rem; color: #333333c4;}
.aNote p {font-size: 1rem; line-height:1rem; font-family: 'marianne_light';}

#Note ul, .Malus ul {list-style-type: none; /* spécifie la puce */}

.evol ul {list-style-type: circle !important; padding-left: 1rem;}

/*Ordre des blocs */
div#CodePostal-container.field-container.form-group {display:grid;    row-gap: 5px; }

/* Organisation de la question et la prénote */
label, .fr-label, label +.control-label {
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--text-label-grey);
 }
 
.form-horizontal .control-label {  text-align: left; font-family: "marianne_bold"; font-size: 1.1rem;}
.step-page label, .step-page .label {padding-right: 0; }

.step-page #CodePostal-label.control-label {
	width: 100%;
	grid-row: 1;
	grid-column: 1;
}

/* Mise en page du bloc facultatif ou Exemple*/
.step-page .post-note {
    grid-row:2;
    font-size: 0.75rem !important;
    line-height: 1.25rem;
    margin: 0 1rem;
    color: var(--text-mention-grey);
    font-family: "marianne_light";
}
/* Positionnement des exemples*/
#CodePostal-container {display: grid;}

#CodePostal-label
{grid-row:1;}

.step-page input[type="text"], .step-page input[type="number"], .step-page input[type="money"] {
    width: 80%;
  }
.step-page input[type="checkbox"] {width: 1.5rem; }

