@import "common.css?version=dev-develop";
@import "autocomplete.css?version=dev-develop";
@import "commonSimiliDsfr.css?version=dev-develop";

/* Mode d'emploi */
.temps {padding-left: 1.5rem; }
.ModeEmploi p, .ModeEmploi h2 {padding-left: 1.5rem ; padding-bottom: 0.7rem;}
.ModeEmploi ul, .fr-alert--success ul, .ModeEmploi ol {
	padding-inline-start: var(--ul-start);
	padding-left: 3rem ;
}
.article p + ul {margin-top:0; margin-bottom:0;}

.fr-highlight ul, .fr-alert--warning ul  {list-style-type: circle !important; padding-left: 1rem;}

/* Mise en page du récap */
.RecapFinal {
	border-bottom: none;
	display: block;
	text-align: center;
	font-family: 'marianne_light';
	font-size: 1.25rem ;
	line-height: 2rem ;
  margin-top : 3rem;
  }

  /* Mise en page du détail du récap */
#Recap-panel-1-fieldset-1 .field-container.form-group 
{
	display: grid;
	grid-template-columns: 50% auto;
	gap: 0 5px;
}

#Recap-panel-1-fieldset-1.fieldset.disposition-classic.form-horizontal {
	border: 1px solid rgb(0, 0, 145);
	padding-left : 1rem;
}

.step-page .label {grid-column-start: 1; }
.step-page .output {grid-column-start: 2; }