@import "common.css?version=dev-develop";
@import "autocomplete.css?version=dev-develop";
@import "commonSimiliDsfr.css?version=dev-develop";

.ul.nav.nav-tabs {	display: flex !important; visibility: visible; }
.step-page .nav-tabs {border-bottom: solid 1px grey;}
.step-page .nav-tabs > li.active > a, .step-page .nav-tabs > li.active > a:hover { 	background-color: var(--sp-blue);}
/* div.col-main a > { color:grey;} 
*/
/* Mode d'emploi */
.temps {padding-left: 1.5rem; }
.ModeEmploi p, .ModeEmploi h2 {padding-left: 1.5rem ; padding-bottom: 0.7rem;}
.ModeEmploi ul, .fr-alert--success ul, .ModeEmploi ol {
	padding-inline-start: var(--ul-start);
	padding-left: 3rem ;
}
.article ul li, .ModeEmploi ul li, .fr-alert--success ul li, .docs ul li {list-style-type: circle; margin-left:1.2rem;  }

/* Mise en page du À noter */
h2 {
	padding-top: 5px;
	font-size: 1.1rem;
	color:#2a313e;
	font-family: "marianne_bold";
	line-height: 1.8rem;
}
.CompNote ul li {
	margin-left: 2rem;
	list-style-type: "☉ ";
	font-size: 0.9rem;
	font-family: 'marianne_regular';
}
