@import "common.css?version=dev-develop";
@import "autocomplete.css?version=dev-develop";
@import "commonSimiliDsfr.css?version=dev-develop";

/*Ordre des blocs */
#questionCommune-container.field-container.form-group {display:grid; }
div#questionCommune-container.field-container.form-group {display:grid; }


/* Mise en page du bloc facultatif ou Exemple*/
.step-page .post-note {
    grid-row:3;
    font-size: 0.75rem !important;
    line-height: 1.25rem;
    margin: 0 1rem;
    color: var(--text-mention-grey);
    font-family: "Marianne_Light";
	padding-bottom: 0.5rem;
}

.step-page #commune input, #geoAPILocalitiescommune {
        width: 70%;
        border-bottom: 3px solid #2a313e;
        border-radius: 0;
        background-color: #f3f6f4;
        font-variant: all-small-caps;
    }

.temps {padding-left: 1.5rem; }

.Intro ul li { font-family: "Marianne_Regular";}

button.btn.btn-primary {
    margin-top: .5rem;
}

.article p + ul, .article p + ol {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
