@import "common.css?version=dev-develop";
@import "autocomplete.css?version=dev-develop";
@import "commonSimiliDsfr.css?version=dev-develop";

/*Ordre des blocs */
div#questionCommune-container.field-container.form-group {display:grid; }


/* Mise en page du bloc facultatif ou Exemple*/
.step-page .pre-note  {
    grid-row: 3;
    box-shadow: none;
}

.step-page #commune input, #geoAPILocalitiescommune {
        width: 70%;
        border-bottom: 3px solid #2a313e;
        border-radius: 0;
        background-color: #f3f6f4;
        font-variant: all-small-caps;
    }

.temps {padding-left: 1.5rem; }

.Intro ul li { font-family: "marianne_regular";}

.blockinfo-chapters ul li {
    list-style-type: circle;
    margin-left: 2rem;
}

button.btn.btn-primary {
    margin-top: .5rem;
}

.article p + ul, .article p + ol {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
