@import "common.css?version=dev-develop";
@import "autocomplete.css?version=dev-develop";
@import "commonSimiliDsfr.css?version=dev-develop";

/*Ordre des blocs */
.step-page #communeInsee-label.control-label {
	grid-row: 1;
}

/* Mise en page du bloc facultatif ou Exemple*/
.step-page .post-note {
    grid-row:2;
    font-size: 0.75rem !important;
    line-height: 1.25rem;
    margin: 0 1rem;
    color: var(--text-mention-grey);
    font-family: "marianne_light";
	padding-bottom: 0.5rem;
}

.step-page #communeInsee input, #geoAPILocalitiescommuneInsee {
        width: 70%;
        border-bottom: 3px solid #2a313e;
        border-radius: 0;
        background-color: #f3f6f4;
        font-variant: all-small-caps;
    }
/* Mise en page de la liste */
.fr-input, .form-control,
.step-page input[type="number"],
.step-page input[type="money"] {
    display: block;
    width: 100%;
	max-width: none;
    border-radius: 0.25rem 0.25rem 0 0;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.5rem 1rem;
    color: var(--text-label-grey);
    background-color: var(--background-contrast-grey);
}

div#communeInsee-container.field-container.form-group {display:grid; }

.temps {padding-left: 1.5rem; }